
#idProjectTitle
{
    font-size:28px;
    font-weight:bold;
}

#idLogin {
/*  background-color: #fff;  */
  /*margin-top: 20px; App-Improve 40 */
  margin-top: 10px;
  margin-bottom: 0px;
    padding-top:24px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;
}

#idLoginError
{
    color:#ff0000;
}

#idLoginContent
{
  /*margin-top: 100px; App-Improve 40 */
  margin-top: 90px;
}

.loginText
{
    font-size:14px;
}

.loginButtonH
{
    height:32px;
}

