body{
    font-family: "ヒラギノ角ゴシック";
}
.TopM0
{
    margin-top:0;
}
.TopM12
{
    margin-top:12px;
}
.mp0
{
    margin:0;
    padding:0;
}
.TopP0
{
    padding-top:0px;
}
.TopP12
{
    padding-top:12px;
}

.redColor{
    color:red;
}


.h0
{
    margin:0;
    padding:0;
    height:0;
    overflow:hidden;
}

.lws-row
{
    clear:both;
    margin:0;
    padding:0;
}
.lws-col
{
    margin:0;
    padding:0;
    float:left;
}
.lws-C1 {  width:1%;  }
.lws-C2 {  width:2%;  }
.lws-CACE {  width:2.5%;  }
.lws-CInsParts  {  width:10%;  }
.lws-CInsPointF {  width:19%;  }
.lws-CInsPartsBtn {  width:3%;  }
.lws-CInsPoint {  width:16%;  }
.lws-C3 {  width:3%;  }
.lws-C4 {  width:4%;  }
.lws-C5 {  width:5%;  }
.lws-C6 {  width:6%;  }
.lws-C7 {  width:7%;  }
.lws-C8 {  width:8%;  }
.lws-C9 {  width:9%;  }
.lws-C10 {  width:10%;  }
.lws-C11 {  width:11%;  }
.lws-C12 {  width:12%;  }
.lws-C13 {  width:13%;  }
.lws-C14 {  width:14%;  }
.lws-C15 {  width:15%;  }
.lws-C16 {  width:16%;  }
.lws-C17 {  width:17%;  }
.lws-C18 {  width:18%;  }
.lws-C19 {  width:19%;  }
.lws-C20 {  width:20%;  }
.lws-C21 {  width:21%;  }
.lws-C22 {  width:22%;  }
.lws-C23 {  width:23%;  }
.lws-C24 {  width:24%;  }
.lws-C25 {  width:25%;  }
.lws-C26 {  width:26%;  }
.lws-C27 {  width:27%;  }
.lws-C28 {  width:28%;  }
.lws-C29 {  width:29%;  }
.lws-C30 {  width:30%;  }
.lws-C31 {  width:31%;  }
.lws-C32 {  width:32%;  }
.lws-C33 {  width:33%;  }
.lws-C34 {  width:34%;  }
.lws-C35 {  width:35%;  }
.lws-C36 {  width:36%;  }
.lws-C37 {  width:37%;  }
.lws-C38 {  width:38%;  }
.lws-C39 {  width:39%;  }
.lws-C40 {  width:40%;  }
.lws-C41 {  width:41%;  }
.lws-C42 {  width:42%;  }
.lws-C43 {  width:43%;  }
.lws-C44 {  width:44%;  }
.lws-C45 {  width:45%;  }
.lws-C46 {  width:46%;  }
.lws-C47 {  width:47%;  }
.lws-C48 {  width:48%;  }
.lws-C49 {  width:49%;  }
.lws-C50 {  width:50%;  }
.lws-C51 {  width:51%;  }
.lws-C52 {  width:52%;  }
.lws-C53 {  width:53%;  }
.lws-C54 {  width:54%;  }
.lws-C55 {  width:55%;  }
.lws-C56 {  width:56%;  }
.lws-C57 {  width:57%;  }
.lws-C58 {  width:58%;  }
.lws-C59 {  width:59%;  }
.lws-C60 {  width:60%;  }
.lws-C61 {  width:61%;  }
.lws-C62 {  width:62%;  }
.lws-C63 {  width:63%;  }
.lws-C64 {  width:64%;  }
.lws-C65 {  width:65%;  }
.lws-C66 {  width:66%;  }
.lws-C67 {  width:67%;  }
.lws-C68 {  width:68%;  }
.lws-C69 {  width:69%;  }
.lws-C70 {  width:70%;  }
.lws-C71 {  width:71%;  }
.lws-C72 {  width:72%;  }
.lws-C73 {  width:73%;  }
.lws-C74 {  width:74%;  }
.lws-C75 {  width:75%;  }
.lws-C76 {  width:76%;  }
.lws-C77 {  width:77%;  }
.lws-C78 {  width:78%;  }
.lws-C79 {  width:79%;  }
.lws-C80 {  width:80%;  }
.lws-C81 {  width:81%;  }
.lws-C82 {  width:82%;  }
.lws-C83 {  width:83%;  }
.lws-C84 {  width:84%;  }
.lws-C85 {  width:85%;  }
.lws-C86 {  width:86%;  }
.lws-C87 {  width:87%;  }
.lws-C88 {  width:88%;  }
.lws-C89 {  width:89%;  }
.lws-C90 {  width:90%;  }
.lws-C91 {  width:91%;  }
.lws-C92 {  width:92%;  }
.lws-C93 {  width:93%;  }
.lws-C94 {  width:94%;  }
.lws-C95 {  width:95%;  }
.lws-C96 {  width:96%;  }
.lws-C97 {  width:97%;  }
.lws-C98 {  width:98%;  }
.lws-C99 {  width:99%;  }
.lws-C100 {  width:100%;  }


.lws-btn
{
    height:32px;
    padding-top:8px;
}

.lws-filter-row
{
    margin-top:4px;
    height:28px;
}

.lws-filter
{
    height:28px;
}
label.lws-filter
{
    padding-top:8px;
    padding-left:4px;
    padding-right:4px;
    font-weight:normal;
}
span.lws-filter
{
    display:inline-block;
    padding-top:6px;
}


header {
    margin:0;
    margin-bottom:12px;
    background-color: #b80037;
    text-align: center;
    height: 66px;
}
header>div.top{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    padding-top:9px;
    height:36px;
    color:#FFF;
}
header>div.top a{
    color:#FFF;
}
header>div.top a:hover {
  text-decoration:underline
}

#content-F
{
    width:1280px;
    min-height: 500px;
}

#content-L
{
    font-size:10pt;
    width:960px;
    float:left;
    min-height: 300px;
}
#content-R
{
    width:320px;
    float:left;
    min-height: 300px;
}
#content-LP
{
    font-size:10pt;
    width:72%;
    float:left;
    min-height: 300px;
}
#content-RP
{
    width:27%;
    float:left;
    min-height: 300px;
}

.searchFilter
{
    padding-top:6px;
    margin-left:0px;
    margin-right:12px;
    padding-bottom:6px;
/*    border-bottom:1px solid #efefef;*/
}

.searchFilter .searchFilterOptions
{

}
.searchFilter .searchFilterOptions .filterRow
{
    clear:both;
    margin:0;
    padding:0;
    height:26px;
}
.searchFilter .searchFilterOptions .filterRow .caption{
    padding-top:4px;
    padding-right:6px;
/*    width:120px;*/
    text-align:right;
/*    float:left;*/
}
.lws-form-control
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    padding-left:2px;
    font-size:9pt;
}
.lws-form-checkbox
{
    padding-top:4px;
}
.filterCol1
{
    line-height:24px;
    width:120px;
    text-align:left;
    float:left;
}
.filterKeywords
{
    line-height:24px;
    width:680px;
    text-align:left;
    float:left;
}
.filterKeywords100
{
    line-height:24px;
    width:800px;
    text-align:left;
    float:left;
}
.filterKeywords100 .keywordTextBox,
.filterKeywords .keywordTextBox
{
    width:100%;
    padding-left:4px;
    padding-top:2px;
    line-height:20px;
    height:24px;
}
.searchFilter .control-checkBox
{
    margin:0;
    padding:0;
    padding-top:2px;
    float:left;
}
.searchFilter .checkBox-label{
    margin:0;
    padding:0;
    padding-left:4px;
    float:left;
}
.searchFilter .searchFilterButtonL1,
.searchFilter .searchFilterButtonL1 button
{
    height:26px;
}
.searchFilter .searchFilterButtonL2,
.searchFilter .searchFilterButtonL2 button
{
    height:52px;
}
.searchFilter .searchFilterButtonL3,
.searchFilter .searchFilterButtonL3 button
{
    height:78px;
}
i.fa{
    margin-right:4px;
}

.searchResultActions
{
    padding-top:6px;
    margin-left:0px;
    margin-right:12px;
    padding-bottom:6px;
    border-bottom:1px solid #efefef;
}
.searchResultActions .lws-col
{
    padding-left:12px;
}
.searchResultActions button
{
    padding-top:2px;
    height:26px;
}
.searchResultList
{
    padding-top:6px;
    margin-left:0px;
    margin-right:12px;
    padding-bottom:6px;
}

.searchResultList .listHD,
.searchResultList .listBdy
{
    clear:both;
    margin:0;
    padding:0;
    border-left:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
.searchResultList .listHD > table,
.searchResultList .listBdy > table
{
    padding-bottom:0;
    margin-bottom:0;
}

.searchResultList .listBdy
{
    height:300px;
    overflow-y:scroll;
}
.searchResultList th {
    margin:0;
    padding:0;
    font-size:10pt;
    font-weight:normal;
    background-color:#EEEEEE;
    height:24px;
}
.searchResultList td {
    margin:0;
    padding:0;
    font-size:10pt;
    font-weight:normal;
    height:24px;
}

ul.pagination>li.btnPageNav:hover
{
    cursor:pointer;
}

#idDetails
{
    margin:0;
    padding-left:6px;
    padding-top:6px;
    padding-bottom:6px;
    min-height:300px;
    border-left:1px solid #efefef;
}

#idDetails > .title
{
    margin:0;
    padding:0;
    padding-left:6px;
    font-size:12pt;
    border-bottom:1px solid #efefef;
    margin-bottom:12px;
}

#idDetails .form-group
{
    margin-top:12px;
}
#idDetails .form-group>label
{
    padding-top:3px;
    padding-right:6px;
    text-align:right;
    font-weight:normal;
    width:120px;
}
#idDetails .form-box
{
    width:190px;
}
#idDetails .form-box2
{
    width:95px;
}
#idDetails .form-text
{
    padding-top:3px;

}


#idDetails .detailRow{
    clear:both;
    margin:0;
    padding-top:12px;
}
#idDetails .detailRow0{
    clear:both;
    margin:0;
    padding:0;
}
#idDetails .detailRow0 .caption,
#idDetails .detailRow .caption{
    padding-right:4px;
    padding-top:2px;
    text-align:right;
}
#idDetails .detailRow0 .valText,
#idDetails .detailRow .valText{
    padding-right:4px;
    text-align:right;
    border-bottom: 1px solid #002761;
}
#idDetails .detailRow .valControl{
}




#idDetails .actionBtns
{
    padding-top:12px;
    padding-bottom:12px;
}
#idDetails .actionBtns>div,
#idDetails .actionBtns>div>button
{
    padding-left:4px;
    padding-right:4px;
    height:32px;
}


.required:after {
    color: #E00;
    content: " *";
}
