/**/
div#headerArea {  
	position: fixed;  
	top: 0;  
	left: 0;  
	width: 100%;  
	height: 35px;
	background-color: #dcdcdc;
}

body{  
	margin-top: 35px;
} 
/**/


/* table */
table.bordertype {
	border-color : #000000;
	border-collapse: collapse;
}

td {
	white-space: nowrap;
}

p.tate {
	writing-mode: tb-lr;
	-webkit-writing-mode: vertical-lr;
}

td.true {
	background-color: #ffffff;
}

td.false {
	background-color: #808080;
}

input.fill {
	width:100%;
	text-align:left;
}


/* img */
img.imgsize1 {
	width : 991;
	height : 453;
}

img.imgsize2 {
	width : 566;
	height : 424;
}


/* input */
input[type="text"]{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    width:100%;
    height:100%;
    border-style:None;
    background-color: #f5f5f5;
    /*font-size: 120%;*/
}

/* input */
input[type="text"].edit{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    width:100%;
    height:100%;
    border-style:None;
    background-color: #e0ffff;
    /*font-size: 120%;*/
}

/* input */
input[type="text"].default{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    width:100%;
    height:100%;
    border-style:None;
    background-color: #f5f5f5;
    /*font-size: 120%;*/
}

input:read-only {
    background-color: #f5f5f5;
}


input[type="button"]{
    font-size: 100%;
}


/* textarea */
textarea{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    width:100%;
    height:100%;
    border-style:None;
    font-size: 120%;
    background-color: #f5f5f5;
}

/* textarea */
textarea.edit{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    width:100%;
    height:100%;
    border-style:None;
    font-size: 120%;
    background-color: #e0ffff;
}

/*
select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 1px solid #ddd;
  width:100%;
  margin: 0;
  padding: 4px;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: fixed;
}
*/

